
          <header class="section-header">
  <h1 class="section-header__title">Bulk Supplies</h1>
</header>


<div class="rte">
  <p>We do bulk supplies to Retailers, Restaurants, Hotels, Institutional buyers and Industrial Canteens. Our promise to our bulk or B2B buyers is three fold:</p>
<ol>
<li>Correct Weight</li>
<li>Unbeatable Prices</li>
<li>Fresh Farm Quality</li>
</ol>
<p>Please call us at 011-39588188 or write to us at care@paalak.in for bulk supply enquiries.&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;</p>
</div>

      